//########### OsonCSS custom values ###########




//breakpoints
$custom-breakpoints: (
        xxl: 1920,
        xl: 1366,
        lg: 1024,
        md: 768
);




//color
$prime: #f1c40f;
$second: #f39c12;
$contrast: #34495e;
$custom-colors: (
        prime: $prime,
        second: $second,
        contrast: $contrast,
);




//font
$font-headline: prometo, 'Manrope', sans-serif;
$font-text: 'Manrope', sans-serif;
$font-highlight: prometo, 'Manrope', sans-serif;

$custom-font-families : (
        headline: $font-headline,
        text: $font-text,
        hightlight: $font-highlight,
);

$custom-font-weights: ();

$custom-line-heights: (
        40: 40px,
        48: 48px,
        50: 50px
);

$custom-letter-spacings : ();




//typography
$typography-breakpoint: 1920;

$typography-norm-settings : (
        font-family: $font-text,
        font-weight: 400,
        font-style: normal,
        font-size-desktop: 18,
        font-size-mobile: 16,

        line-height: 1.2,
        letter-spacing: normal,

        text-transform: none,
        text-decoration: none,

        color: #000,

        word-break: normal,
);

$typography-themes: (
        h1: (
                font-size-desktop: 60,
                font-size-mobile: 40,
        ),
        h2: (
                font-size-desktop: 50,
                font-size-mobile: 35,
        ),
        h3: (
                font-size-desktop: 35,
                font-size-mobile: 28,
        ),
        h4: (
                font-size-desktop: 24,
                font-size-mobile: 20,
        ),
        h5: (
                font-size-desktop: 20,
                font-size-mobile: 18,
        ),
        h6: (
                font-size-desktop: 18,
                font-size-mobile: 16,
        ),
        p: (
                font-size-desktop: 18,
                font-size-mobile: 16,
        ),
        subline: (
                addons: (
                        padding: 50px,
                        margin: 30px
                ),
                exclude: (typography-style, typography-elements, font-size)
        )
);




//lists
$list-norms: (
        ul-style-type: disc,
        ol-style-type: decimal,
        list-spacing: 30px,
        li-spacing: 10px
);




//width, max-width, min-width
$custom-widths: (
        1920: 1920px,
        2560: 2560px,
);

$custom-maxwidths: ();

$custom-minwidths: ();




//height, max-height, min-height
$custom-heights: (
        2600: 2600px,
);

$custom-maxheights: ();

$custom-minheights: ();




//transition
$custom-transition-norm: (
        property: all,
        duration: 300ms,
        delay: 0ms,
        function: ease-in-out
);




//margin
$custom-margins: ();




//padding
$custom-paddings: ();




//positions (top, left, right, bottom)
$custom-positions: ();




//border
//border-width
$custom-border-widths: ();

//border-radius
$custom-border-radius: ();




//opacity
$custom-opacities: ();




//order
$custom-orders: ();




//zindex
$custom-zindexes: ();