//########### OsonCSS settings ###########



//utilities
$utilities: (
        typography: true,
        list: true,
        margin: true,
        padding: true,
        cursor: true,
        select: true,
        overflow: true,
        color: true,
        display: true,
        opacity: true,
        flexbox: true,
        position: true,
        width: true,
        height: true,
        zindex: true,
        border: true
);



//colors
$colorResponsive: true;
$colorHoverable: true;
$colorFocusable: false;



//typography
$typographyResponsive: true;

$textdecorationHoverable: true;
$textdecorationFocusable: false;



//list
$listResponsive: true;



//margins
$marginResponsive: true;



//paddings
$paddingResponsive: true;



//width
$widthResponsive: true;
$widthHoverable: true;
$widthFocusable: false;

$maxwidthHoverable: true;
$maxwidthFocusable: false;

$minwidthHoverable: true;
$minwidthFocusable: false;



//height
$heightResponsive: true;
$heightHoverable: true;
$heightFocusable: false;

$maxheightHoverable: true;
$maxheightFocusable: false;

$minheightHoverable: true;
$minheightFocusable: false;



//opacities
$opacityResponsive: true;
$opacityHoverable: true;
$opacityFocusable: false;



//zindex
$zindexResponsive: true;
$zindexHoverable: true;
$zindexFocusable: false;



//position (relative, absolute, etc.)
$positionResponsive: true;

//positions (top, left, right, bottom)
$positionsHoverable: true;
$positionsFocusable: false;



//border
$bordersResponsive: true;

$bordercolorHoverable: true;
$bordercolorFocusable: false;



//cursor
$cursorResponsive: false;



//select
$selectResponsive: false;



//overflow
$overflowResponsive: false;



//display
$displayResponsive: true;



//flexbox
$flexboxResponsive: true;