//OsonCSS utilities

//import all utilities
@import "utility-typography";
@import "utility-list";
@import "utility-margin";
@import "utility-padding";
@import "utility-cursor";
@import "utility-select";
@import "utility-overflow";
@import "utility-color";
@import "utility-display";
@import "utility-opacity";
@import "utility-flexbox";
@import "utility-position";
@import "utility-width";
@import "utility-height";
@import "utility-zindex";
@import "utility-border";


//utility normalizing
@each $utility, $utility-state in $utilities {
  //typography
  @if $utility == typography and $utility-state == true {
    @include typography-normalizing();
  }
  //list
  @if $utility == list and $utility-state == true {
    @include list-normalizing();
  }
}


//utility manager (responsive)
@mixin utility-manager-responsive($breakpoint) {
  @each $utility, $utility-state in $utilities {

    //typography
    @if $utility == typography and $utility-state == true and $typographyResponsive == true {
      @include typography($breakpoint);
    }

    //list
    @if $utility == list and $utility-state == true and $listResponsive == true {
      @include list($breakpoint);
    }

    @if $utility == margin and $utility-state == true and $marginResponsive == true {
      @include margin($breakpoint);
    }

    @if $utility == padding and $utility-state == true and $paddingResponsive == true {
      @include padding($breakpoint);
    }

    @if $utility == cursor and $utility-state == true and $cursorResponsive == true {
      @include cursor($breakpoint);
    }

    @if $utility == select and $utility-state == true and $selectResponsive == true {
      @include select($breakpoint);
    }

    @if $utility == overflow and $utility-state == true and $overflowResponsive == true {
      @include overflow($breakpoint);
    }

    @if $utility == color and $utility-state == true and $colorResponsive == true {
      @include color($breakpoint);
    }

    @if $utility == display and $utility-state == true and $displayResponsive == true {
      @include display($breakpoint);
    }

    @if $utility == opacity and $utility-state == true and $opacityResponsive == true {
      @include opacity($breakpoint);
    }

    @if $utility == flexbox and $utility-state == true and $flexboxResponsive == true {
      @include flexbox($breakpoint);
    }

    @if $utility == position and $utility-state == true and $positionResponsive == true {
      @include position($breakpoint);
    }

    //width
    @if $utility == width and $utility-state == true and $widthResponsive == true {
      @include width($breakpoint);
    }

    //height
    @if $utility == height and $utility-state == true and $heightResponsive == true {
      @include height($breakpoint);
    }

    //zindex
    @if $utility == zindex and $utility-state == true and $zindexResponsive == true {
      @include zindex($breakpoint);
    }

    //border
    @if $utility == border and $utility-state == true and $bordersResponsive == true {
      @include border($breakpoint);
    }

  }
}


//utility manager (non-responsive)
@mixin utility-manager-non-responsive($breakpoint) {
  @each $utility, $utility-state in $utilities {

    //typography
    @if $utility == typography and $utility-state == true and $typographyResponsive == false {
      @include typography($breakpoint);
    }

    //list
    @if $utility == list and $utility-state == true and $listResponsive == false {
      @include list($breakpoint);
    }

    @if $utility == margin and $utility-state == true and $marginResponsive == false {
      @include margin($breakpoint);
    }

    @if $utility == padding and $utility-state == true and $paddingResponsive == false {
      @include padding($breakpoint);
    }

    @if $utility == cursor and $utility-state == true and $cursorResponsive == false {
      @include cursor($breakpoint);
    }

    @if $utility == select and $utility-state == true and $selectResponsive == false {
      @include select($breakpoint);
    }

    @if $utility == overflow and $utility-state == true and $overflowResponsive == false {
      @include overflow($breakpoint);
    }

    @if $utility == color and $utility-state == true and $colorResponsive == false {
      @include color($breakpoint);
    }

    @if $utility == display and $utility-state == true and $displayResponsive == false {
      @include display($breakpoint);
    }

    @if $utility == opacity and $utility-state == true and $opacityResponsive == false {
      @include opacity($breakpoint);
    }

    @if $utility == flexbox and $utility-state == true and $flexboxResponsive == false {
      @include flexbox($breakpoint);
    }

    @if $utility == position and $utility-state == true and $positionResponsive == false {
      @include position($breakpoint);
    }

    //width
    @if $utility == width and $utility-state == true and $widthResponsive == false {
      @include width($breakpoint);
    }

    //height
    @if $utility == height and $utility-state == true and $heightResponsive == false {
      @include height($breakpoint);
    }

    //zindex
    @if $utility == zindex and $utility-state == true and $zindexResponsive == false {
      @include zindex($breakpoint);
    }

    //border
    @if $utility == border and $utility-state == true and $bordersResponsive == false {
      @include border($breakpoint);
    }

  }
}


//utility render responsive
@each $breakpoint-name, $breakpoint-width in $breakpoints {

  @if $breakpoint-width != 0 {
    @media (max-width: #{$breakpoint-width}px) {

      $breakpoint: #{$breakpoint-name}\:;
      @include utility-manager-responsive($breakpoint);

    }
  } @else {

    $breakpoint: null;
    @include utility-manager-responsive($breakpoint);

  }

}


//utility render non-responsive
$breakpoint: null;
@include utility-manager-non-responsive($breakpoint);