//utility: font

@mixin font($breakpoint) {

  //font family
  $shortcode-ff: ff;
  @each $name, $font in $font-families {
    .#{$breakpoint}#{$shortcode-ff}-#{$name} {
      font-family: #{$font};
    }
  }


  //font sizes
  $shortcode-fsi: fsi;
  @each $name, $ff, $fw, $fsi-desktop, $fsi-mobile, $c, $lh, $tt, $fs, $ls, $td, $wb in $typography {
    .#{$breakpoint}#{$shortcode-fsi}-#{$name} {
      @include typography-font-size($fsi-desktop, $fsi-mobile);
    }
  }



  //font style
  $shortcode-fs: fs;
  $font-styles: (normal, italic, oblique, initial, inherit);
  @each $style in $font-styles {
    .#{$breakpoint}#{$shortcode-fs}-#{$style} {
      font-style: #{$style};
    }
  }


  //font weight
  $shortcode-fw: fw;
  @each $name, $weight in $font-weights {
    .#{$breakpoint}#{$shortcode-fw}-#{$name} {
      font-weight: #{$weight};
    }
  }


  //line height
  $shortcode-lh: lh;
  @each $name, $height in $line-heights {
    .#{$breakpoint}#{$shortcode-lh}-#{$name} {
      line-height: #{$height};
    }
  }


  //text align
  $shortcode-ta: ta;
  $text-aligns : (left, right, center, justify);
  @each $align in $text-aligns {
    .#{$breakpoint}#{$shortcode-ta}-#{$align} {
      text-align: #{$align};
    }
  }


  //letter spacing
  $shortcode-ls: ls;
  @each $name, $spacing in $letter-spacings {
    .#{$breakpoint}#{$shortcode-ls}-#{$name} {
      letter-spacing: #{$spacing};
    }
  }


  //text decoration
  $shortcode-td: td;
  $text-decorations : (none, underline, line-through);
  @each $decoration in $text-decorations {

    .#{$breakpoint}#{$shortcode-td}-#{$decoration} {
      text-decoration: #{$decoration};
    }

    @if $textdecorationHoverable == true {
      .#{$breakpoint}#{$shortcode-td}\:hover-#{$decoration}:hover {
        text-decoration: #{$decoration};
      }
    }

    @if $textdecorationFocusable == true {
      .#{$breakpoint}#{$shortcode-td}\:focus-#{$decoration}:focus {
        text-decoration: #{$decoration};
      }
    }
  }


  //text transform
  $shortcode-tt: tt;
  $text-transforms: (uppercase, lowercase, capitalize, none);
  @each $transform in $text-transforms {
     .#{$breakpoint}#{$shortcode-tt}-#{$transform} {
       text-transform: #{$transform};
     }
  }


  //word break
  $shortcode-wb: wb;
  $word-breaks: (none: normal, break: break-word, break-all:break-all);
  @each $name, $break in $word-breaks {
    .#{$breakpoint}#{$shortcode-wb}-#{$name} {
      word-break: #{$break};
    }
  }
}